/**************** 
UNIVERSAL STYLES 
****************/
/*** light grey #f3f5f5 ***/
/*** dark grey #eaebec ***/
/***
button color #4a4a4a (same as font title color?)
button font color #fff
academy font color #9b9b9b
***/

html {
	font-family: Helvetica;
	font-size: 16px;
	color: #4a4a4a;
}

body {
	background-color: #f3f5f5;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	margin: 2rem auto;	
}

h3 {

}

h6 {
	font-size: 0.8rem;
	margin: 2rem 0;
}

/**********
Main
***********/
main {
	padding-top: 4rem;
	width: 100%;
	margin: auto;
}

/**********
Header
***********/
header {
	align-items: center;
	position: fixed;
	top: 0px;
	height: 4rem;
	width: 100%;
	z-index: 10;
	background-color: #fff;
}

header img {
	height: 2rem;
	width: auto;
	margin-left: 1.5rem;
}

nav {
	text-align: right;
	flex-grow: 1;
	margin-right: 1.5rem;
}

nav ul li{
	display: inline-block;
	padding: 1rem;
}

nav a {
	color: #4a4a4a;
}

header #colmar {
	font-weight: bold;
}


/**********
Banner
**********/

.banner {
	padding:2rem 1.5rem;
	width: 100%;
	justify-content: space-between;
	display: flex;
	background-color: #eaebec;
}

.banner .sixty {
	max-width: 60%;
}

.banner .forty {
	max-width: 40%;
}

.banner #img {
	justify-content: center;
	align-items: center;
	width: 60%;
}

.sixty img {
	max-width: 100%;
}

.banner #text {
	margin: auto 1.5rem;
	justify-content: center;
	align-items: center;
}

.banner .btn {
	background-color: #4a4a4a;
	color: #fff;
	padding: 1.25rem 4rem;
	justify-content: center;
	margin: 1rem 0;
}


.banner h3 {
	margin: 2rem auto;
	font-weight: bold;
	font-size: 1.25rem;
}

h3 a {
	margin-top: 2rem;
}


/**********
About
**********/

.about {
	justify-content: space-between;
	display: flex;
}

.about #img {
	justify-content: center;
	width: 60%;
}

.about .sixty {
	padding: 2rem 1.5rem;
}

.about .forty {
	max-width: 40%;
	border-left: 1px solid #eaebec;
}

.about .bulletin {
	max-width: 100%;
}

.bulletin .sidetext {
	max-width: 55%; /*doesn't work with 65%*/
	padding: 1rem 0rem;
	display: flex;
	flex-direction: column;
}

.bulletin-img {
	max-width: 35%;
	padding: 1rem;
}

.bulletin img {
	max-width: 100%;
}

.bulletin a {
	color: #5691e5;
}


.sidetext h3 {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: bold;
}

.sidetext p {
	margin: 0.5rem 0;
}



/**********
Start learning
**********/

#courses {
	background-color: #eaebec;
	padding-bottom: 2rem; 
}

.row {
	margin: 2rem 1rem;
}

.course {
	max-width: 25%;
	background-color: #fff;
	margin: 0 1rem; 
}

.course-img {
	max-width: 100%;
}

.course img {
	max-width: 100%;
}

#courses h2 {
	text-align: center;
	padding-top: 2rem; /*ehka myohemmin vaihda margin topiksi ylhaalla h2*/
}

.items .flex-container {
	justify-content: space-between;
}


.course .text {
	margin: 1rem 1rem 1.5rem 1rem;
}

.course h3 {
	font-weight: bold;
	font-size: 1.5rem;
}

.course p {
	margin: 0.5rem 0rem;
	letter-spacing: 1px;
}



/**********
Thesis
**********/

#thesis {

}


#thesis h2 {
	text-align: center;
}


#thesis h3 {

}

.sixty video {
	max-width: 100%;
}


/**********
FOOTER
**********/

footer {
	border-top: 1px solid #eaebec;
	display: flex;
	justify-content: space-between;
}

footer ul {
	margin: 2rem 0;
}

footer ul li {
	display: inline-block;
	padding: 0 1rem;

}

a {
	color: #4a4a4a;
}

#thesis h3 {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: bold;
}